<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Aluguel</title>
</head>
<body>
    <div class="title_container">
        <h1 class="title">Calculador de Aluguel</h1>
    </div>
    <div class="div_form">
        <form action="{{ url_for('predict')}}" method="POST" class="formullario">
            <div class="campos">
                <div class="left">
                    <label for="cidade">Escolha a cidade</label>
                    <select name="cidade">
                        <option value="nda">Escolha uma cidade</option>
                        <option value="0">Belo Horizonte</option>
                        <option value="1">Campinas</option>
                        <option value="2">Porto Alegre</option>
                        <option value="3">Rio de Janeiro</option>
                        <option value="4">São Paulo</option>
                    </select>
                    <label for="area">Área do imóvel (m2)</label>
                    <input type="text" name="area">
                    <label for="quartos">Quantidade de quartos:</label>
                    <input type="text" name="quartos">
                    <label for="banheiros">Banheiros:</label>
                    <input type="text" name="banheiros">
                    <label for="garagem">Vagas na garagem:</label>
                    <input type="text" name="garagem">
                </div>
                <div class="rigth">
                    <label for="andar">Andar:</label>
                    <input type="text" name="andar">
                    <div>
                        <p>Aceita animais</p>
                        <input type="radio" id="sima" name="animais" value="1">
                        <label for="sima">sim </label>
                        <input type="radio" id="naoa" name="animais" value="0" checked>
                        <label for="naoa">não </label>
                    </div>
                    <div>
                        <p>É mobiliado?</p>
                        <input type="radio" id="sim" name="mobiliado" value="1">
                        <label for="sim">sim </label>
                        <input type="radio" id="nao" name="mobiliado" value="0" checked>
                        <label for="nao">não </label>
                    </div>                                       
                    <label for="condominio">Valor do condominio em R$</label>
                    <input type="text" name="condominio">
                    <label for="iptu">Valor do iptu (mensal) em R$</label>
                    <input type="text" name="iptu">
                </div>
            </div>
            <div class="botoes">
                <button type="reset" class="btn_limpa"><span class="fas fa-trash-alt"></span></button>
                <button type="submit" class="btn_ok"><span class="fas fa-plus"></span></button>
            </div>
        </form>
    </div>
    <div class="resultado">
        <h1>Aluguel previsto</h1>
        <h2>{{ prediction_text }}</h2>
    </div>
</body>
</html>